:root {
    --body-background: rgb(255, 242, 125);
    --button-border: #555;
    --button-color: rgb(59, 125, 206);
    --button-text: white;
    --modal-background: rgba(0, 0, 0, 0.6);
    --modal-display: #fff;
    --modal-top-bottom-border: grey;
    --modal-close: #777;
    --nav-text: #000;
    --nav-hover: #555;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-background);
    z-index: 1;
}

header {
    position: sticky;
    position: -webkit-sticky;
    background-color: var(--body-background);
    top: 0;
    z-index: 2;
}

#pokeball-img {
    margin: 6px 0 0 0;
}

#title-img {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.pokemon-logo {
    height: 90px;
}

#pokemon-btn-list li{
    background-color: transparent;
    border: none;
}

#poke-btn-container {
    padding: 5px 55px 5px 50px;
}

.btn-styles {
    height: 50px;
    width: 200px;
    font-size: medium;
    letter-spacing: 2px;
    background-color: var(--button-color);
    color: var(--button-text);
    border: 1px solid var(--button-color);
    border-radius: 5px;
    border-right: 4px solid var(--button-border);
    border-bottom: 4px solid var(--button-border);
    text-transform: capitalize;
}

.btn-styles:hover {
    cursor: pointer;
    opacity: .8;
    font-weight: bold;
}

button:focus, .btn:focus .navbar-toggler:focus {
    box-shadow: none !important;
}

.loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    margin-top: 50px;
}

.modal-title {
    text-transform: capitalize;
}

.modal-body {
    padding: 0;
}

.modal-body img {
    max-width: 150px;
    width: 100%;
    height: auto;
    padding: 15px 0;
}

.modal-body ul li{
    margin: 0;
    padding: 5px 0;
    width: 180px;
    text-align: left;
    list-style-type: none;
}

.abilities {
    line-height: normal;
    word-wrap: normal;
}
