body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 176);
}

#pokemon-container ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}

button {
    height: 50px;
    width: 200px;
    font-size: medium;
    letter-spacing: 2px;
    background-color: rgb(61,125,202);
    color: white;
    border: 1px solid rgb(0, 58, 112);
    border-right: 5px solid rgb(0, 58, 112);
    border-bottom: 5px solid rgb(0,58,112);
    /* border-radius: 15px 15px; */
    text-transform: capitalize;
}

button:hover {
    cursor: pointer;
    opacity: .8;
}

.grid-item {
    place-self: stretch;
}

h1 {
    font-size: 40px;
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
}

.loading-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content */
    z-index: 999; 

    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 

    /* this is used to center the modal */
    display: grid;
    text-align: center;
}

  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
  }
  
  .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }
  
  .modal h1 {
    margin-top: 0;
    text-transform: capitalize;
  }
  
  .modal p {
    margin-bottom: 0;
  }
  